.visuel{
    width: 85%;
    height: 30vh;
    /* border: solid 2px black; */
    border-radius: 25px;
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(50, 49, 49, 0.6), rgba(48, 47, 47, 0.3)), url('./../img/about-image.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

 #about {
    width: 70%;
    margin: 0 auto;
}

main .display{
    margin-top: 5vh;
}
@media (max-width: 800px){
    .visuel{
        height:300px;
        margin: 1vh auto;
        border-radius: 10px;
    }
    #about{
        width: 85%;
    }
    #about .display .container{
        padding-bottom: 50px;
    }
    #about .display .content {
        font-size: .8rem;
        line-height: 1rem;
    }
    #about .display{
        margin-top: 2vh;
    }
    #about .display .clicker{
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1rem;
    }

}