
.container-carousel{
    height: 60vh;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.carousel{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}
.white{
    background-color: antiquewhite;
}

.leftBtn, .rightBtn{
    /* border: solid black 1px; */
    padding: 10px;
    /* width: 100px; */
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
.leftBtn{
    top: 35%;
    left: 10px;
}
.rightBtn{
    top: 35%;
    right: 10px;
}
.leftBtn svg, .rightBtn svg{
   height: 100px;
}

.activeSlider{
    animation: apparition .5s ease-in-out;
}
.desactiveSlider{
    animation: apparitionPrevious .5s ease-in-out;
}
.slideNbr{
    font-size: 1.2rem;
}

@keyframes apparition {
    from{
       /* transform:translateX(-100%); */
       /* opacity: 0; */
    }
    to{
        opacity: 1;
        transform:translateX(-100%);

    }
}
@keyframes apparitionPrevious {
    from{
       transform:translateX(-100%);
    }
    to{
        opacity: 1;
        transform:translateX(0%);

    }
}
.sliderNbr{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
}

@media (max-width: 800px){
    
    .container-carousel{
        height: 300px;
        border-radius: 10px;
    }
    .leftBtn svg, .rightBtn svg{
         height: 20px
    }
    .leftBtn{
        top: 45%;
        left: 0px;
        padding: 0;
    }
    .rightBtn{
        top: 45%;
        right: 0px;
        padding: 0;
    }
    .slideNbr{
        display: none
    }

}

/* {
    border: solid black 1px;
    padding: 10px;
    background-color: red;

} */
