footer {
    display: flex;
    color: white;
    background-color: black;
    height: 30vh;
    width: 100%;
    margin-top: 10vh;
}
footer div{
    text-align: center;
    margin: 100px auto;
}


@media (max-width: 800px){
    footer {
            align-items: center;
            margin-top: 5vh;
            height: 20vh;
            font-size: .8rem;
            justify-content: center;
    }
    footer div{
        margin: 0 auto;
    }
    footer svg{
        height: 35px;
    }
    
}


